{
  "name": "damengreader",
  "parameter": {
    "connection": [
      {
        "jdbcUrl": [
          "${reader.jdbcUrl}"
        ],
#if($reader.splitTable)
 "table": [${reader.splitTabs}]
#else
 "querySql": [
     "SELECT ${reader.cols} FROM ${reader.tableWithEscape} #if($reader.containWhere) WHERE ${reader.where} #end"
   ]
#end
      }
    ]
    #if($reader.splitTable)
    ,"column": [${reader.colsQuotes}]
    #end
    ,"password": "${reader.password}"
    ,"username": "${reader.username}"
  }
}
