<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss} %level %logger{35}- %msg%n]]></pattern>
        </layout>
    </appender>

    <appender name="tis"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/tis.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/bak/%d{yyyy-MM-dd}-tis.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss} %level %logger{32}:%L- %msg%n]]></pattern>
        </encoder>
    </appender>

    <root>
        <!---->
        <level value="INFO"/>
        <appender-ref ref="tis"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
